<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Pricing example · Bootstrap</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

    </style>

    <!--<link href="pricing.css" rel="stylesheet">-->
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">{{ device_name }}</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <form>
            <input class="form-control" autofocus autocomplete="off" type="text" name="search" placeholder="Search" value="{{ search_value }}">
        </form>
    </nav>
    <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Clippy</h1>
</div>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <textarea class="form-control clipboard-results" readonly="readonly" disabled="disabled">{{ most_recent }}</textarea>
            <br>
            <button class="form-control read-btn">Inspect Clipboard</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul id="clipboard" class="list-group">
                {% for object in object_list %}
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div class="col-md-10">
                        <code>{{ object.value }}</code>
                        <br>
                        <input type="hidden" id="clipboard-{{ object.pk }}" class="to-copy" value="{{ object.value }}" readonly="readonly">
                        <small class="text-muted">Found in Clipboard: <span id="found-{{ object.pk }}">{{ object.found_in_clipboard }}</span>
                        </small>
                        <br>
                        <small class="text-muted">Saved to Clipboard: <span id="saved-{{ object.pk }}">{{ object.saved_to_clipboard }}</span>
                        </small>
                    </div>
                    <div class="col-md-2">
                        <button name="clipboard-{{ object.pk }}" class="btn btn-outline-primary write-button">Copy to clipboard</button>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script>
    const readBtn = document.querySelector('.read-btn'); // Paste from Clipboard
    const writeButton = document.querySelector('.write-button'); // Write to Clipboard

    const resultsEl = document.querySelector('.clipboard-results'); // Paste from Clipboard
    url = "http://localhost:8000/api/clips/";
    dataType = "json";

    function saveClipboard() {
        navigator.clipboard.readText()
        .then(text => {
          if (text && text != resultsEl.value) {
              console.log(text + ' vs ' + resultsEl.value)
              resultsEl.value = text;
              data = {
                "value": text,
                "device": "{{ device }}",
                "action": "r"
              }

              $.ajax({
                  type: "POST",
                  url: url,
                  data: data,
                  <!--success: success,-->
                  dataType: dataType
               });
           }
        })
        .catch(err => {
          // console.log('Something went wrong', err);
        })
        setTimeout(saveClipboard, 2000);
    }

    setTimeout(saveClipboard, 2000);

    // Paste from Clipboard
    <!--readBtn.addEventListener('click', () => {-->
      <!--saveClipboard();-->
    <!--});-->

    $( ".write-button" ).click(function() {
      inputValue = $( "#" + this.name )[0].value;
      console.log(inputValue);
      if (inputValue && inputValue != resultsEl.value) {
          navigator.clipboard.writeText(inputValue)
              .then(() => {
                if (this.innerText !== 'Copied!') {
                  const originalText = this.innerText;
                  this.innerText = 'Copied!';
                  setTimeout(() => {
                    this.innerText = originalText;
                  }, 750);

                  data = {
                    "value": inputValue,
                    "device": "{{ device }}",
                    "action": "w"
                  }

                  $.ajax({
                      type: "POST",
                      url: url,
                      data: data,
                      <!--success: success,-->
                      dataType: dataType
                   });

                   resultsEl.value = inputValue;
                }
              })
              .catch(err => {
                console.log('Something went wrong', err);
              });
          }
    });



</script>

</body>
</html>